@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

.kpi-container {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.kpi-container:hover {
    transform: scale(1.02);
}

.kpi-title {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
    text-align: center;
}

.kpi-value {
    font-size: 32px;
    font-weight: bold;
    color: #2b2b2b;
}

.kpi-trend_positve {
    font-size: 32px;
    color: #4caf50; /* Use red for negative trend */
    font-weight: bold;
}

.kpi-trend_negative {
    font-size: 32px;
    color: #c82222; /* Use red for negative trend */
    font-weight: bold;
}

.kpi-trend_natural {
    font-size: 32px;
    color: #4a8ce8; /* Use red for negative trend */
    font-weight: bold;
}


.kpi-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; /* eller center om du vill centrera dem */
}

.kpi-wrapper.space-top {
    margin-top: 32px;
}

.container.card {
    position: relative;
    z-index: 1;
    margin-top: 30px;
}

.margin-center {
    margin: 0 auto;
}

.text-align-center {
    text-align: center;
}

.aside-controls {
    position: relative;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside-controls::before {
    content: '';
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
    background-color: var(--color-primary);
}

button.plain {
    margin-top: 16px;
}

.kpi-part {
    display: flex;
    align-items: center;
}

.text-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;
    max-width: 1200px;
    width: 100%;
}

.text-media h4 {
    margin-top: 0;
}

.text-media.reverse {
    flex-direction: row-reverse;
}

.text-media.reverse .text-media-content {
    text-align: left;
}

.text-media img {
    height: 200px;
    width: 400px !important;
}
.text-media-content {
    padding: 0 24px;
    text-align: right;
    width: 50%;
}

.padding-custom {
    padding: 0 24px;
}